name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 161.97.162.143
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/client-call-manager
            git pull origin master
            docker compose -f docker-compose.yml up --build -d
            sleep 8
            docker compose -f docker-compose.yml logs backend --tail=40
